.app {
    display: flex;
    height: 100%;

    &__settings-panel {
        @media (min-width: 1024px) {
            //Changes Sidebar width
            max-width: 500px;
        }
    }

    &__small-screen-settings-button-container {
        z-index: 500;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 1rem;
        //Changes the centering of the settings tab in phone mode?
        width: 100%;
        //Allows flexibility to the centering of settings tab in phone mode
        display: flex;
        justify-content: center;
    }

    & &__small-screen-settings-button {
        width: 100%;
        max-width: 500px;
    }

    &__commonwealth-map {
        //For some sidebar to the right. Keep at 100% to hide it
        width: 100%;
    }
}
